<?xml version="1.0" encoding="utf-8"?>
<URLRewriters>
  <URLRewriter VitualPath="~/$" RealPath="~/default.html" IsEffect="True"></URLRewriter>


  <URLRewriter VitualPath="~/Mobile/?$" RealPath="~/Mobile/default.html" IsEffect="True"></URLRewriter>
  <URLRewriter VitualPath="~/Product-C([0-9]*).html.*" RealPath="~/Product.aspx?ClassID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Product.aspx?ClassID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product-B([0-9]*).html.*" RealPath="~/Product.aspx?BrandID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product-B([0-9]*)-P([0-9]*).html.*" RealPath="~/Product.aspx?BrandID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product/Keyword/([\d\D]*)-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Product.aspx?Keyword=$1&amp;ClassID=$2&amp;Page=$3" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product/Keyword/([\d\D]*)-C([0-9]*).html.*" RealPath="~/Product.aspx?Keyword=$1&amp;ClassID=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Product/Keyword/([\d\D]*).html.*" RealPath="~/Product.aspx?Keyword=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/ProductDetail-I([0-9]*).html.*" RealPath="~/ProductDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/ProductDetail-I([0-9]*).html.*" RealPath="~/ProductDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Finish-I([0-9]*).html" RealPath="~/Finish.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Help-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Help.aspx?ID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Help-C([0-9]*).html.*" RealPath="~/Help.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/PointDetail-I([0-9]*).html.*" RealPath="~/PointDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/PointExchange/([0-9]*).html.*" RealPath="~/PointExchange.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/CouponDetail-I([0-9]*).html.*" RealPath="~/CouponDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/ArticleDetail-I([0-9]*).html.*" RealPath="~/ArticleDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Product/New.html" RealPath="~/Product.aspx?IsNew=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Product/Hot.html" RealPath="~/Product.aspx?IsHot=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Product/Special.html" RealPath="~/Product.aspx?IsSpecial=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Product/Top.html" RealPath="~/Product.aspx?IsTop=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Article/Keyword/([\d\D]*)-P([0-9]*).html.*" RealPath="~/Article.aspx?Keywords=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Article/Keyword/([\d\D]*).html.*" RealPath="~/Article.aspx?Keywords=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Article-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Article.aspx?ID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Article-C([0-9]*).html.*" RealPath="~/Article.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Picture-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Picture.aspx?ID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Picture-C([0-9]*).html.*" RealPath="~/Picture.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Development-I([0-9]*).html.*" RealPath="~/Development.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Article-C([0-9]*).html.*" RealPath="~/Article.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/searchresults.html.*" RealPath="~/list.aspx" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/ProductDetail-I([0-9]*).html.*" RealPath="~/Mobile/ProductDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/Finish-I([0-9]*).html.*" RealPath="~/Mobile/Finish.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List/New.html.*" RealPath="~/Mobile/List.aspx?IsNew=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List/Special.html.*" RealPath="~/Mobile/List.aspx?IsSpecial=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List-C([0-9]*).html.*" RealPath="~/Mobile/List.aspx?ClassID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Mobile/List.aspx?ClassID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List-B([0-9]*)-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Mobile/List.aspx?BrandID=$1&amp;ClassID=$2&amp;Page=$3" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List-B([0-9]*)-C([0-9]*).html.*" RealPath="~/Mobile/List.aspx?BrandID=$1&amp;ClassID=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List/Keyword/([\d\D]*)-P([0-9]*).html.*" RealPath="~/Mobile/List.aspx?kw=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/List/Keyword/([\d\D]*).html.*" RealPath="~/Mobile/List.aspx?kw=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/CommentOrderProduct-O([0-9]*).html.*" RealPath="~/Mobile/CommentOrderProduct.aspx?OrderID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/User/CommentOrderProduct-O([0-9]*).html.*" RealPath="~/Mobile/User/CommentOrderProduct.aspx?OrderID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/User/OrderDetail-I([0-9]*).html.*" RealPath="~/Mobile/User/OrderDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/ArticleDetail-I([0-9]*).html.*" RealPath="~/Mobile/ArticleDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Mobile/Article-C([0-9]*).html.*" RealPath="~/Mobile/Article.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/Picture-C([0-9]*)-P([0-9]*).html.*" RealPath="~/Mobile/Picture.aspx?ID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/Picture-C([0-9]*).html.*" RealPath="~/Mobile/Picture.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/Mobile/Article/Keyword/([\d\D]*).html.*" RealPath="~/Mobile/Article.aspx?Keywords=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter  VitualPath="~/mobile/searchresults.html.*" RealPath="~/Mobile/list.aspx" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/HelpDetail-I([0-9]*).html.*" RealPath="~/HelpDetail.aspx?id=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/About-C([0-9]*).html.*" RealPath="~/About.aspx?id=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/About-C([0-9]*).html.*" RealPath="~/Mobile/About.aspx?id=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/PointDetail-I([0-9]*).html.*" RealPath="~/Mobile/PointDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/PointExchange/([0-9]*).html.*" RealPath="~/Mobile/PointExchange.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/Mobile/CouponDetail-I([0-9]*).html.*" RealPath="~/Mobile/CouponDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter VitualPath="~/MobileAdmin/?$" RealPath="~/MobileAdmin/index.html" IsEffect="True"></URLRewriter>
</URLRewriters>