<?xml version="1.0" encoding="utf-8"?>
<Pay>
  <Key Value="WxPay" IsSystem="1" />
  <Name Value="微信" IsSystem="1" />
  <Photo Value="/Plugins/Pay/WxPay/weixin.png" IsSystem="1" />
  <Description Value="微信支付，扫码支付。" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="1" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <Partner Value="wx0654ff4e688fa565" IsSystem="0" Name="APPID" />
  <APPSECRET Value="4c186b5dcdefac8937fc486de8aed445" IsSystem="0" Name="APPSECRET" />
  <MCHID Value="" IsSystem="0" Name="商户MCHID" />
  <SiteDomain Value="" IsSystem="0" Name="域名(不要http://)" />
</Pay>