<?xml version="1.0" encoding="UTF-8"?>
<Login>
  <Key Value="QQ" IsSystem="1" />
  <Name Value="QQ" IsSystem="1" />
  <EName Value="qq" IsSystem="1" />
  <Photo Value="/Plugins/Login/QQ/logo.png" IsSystem="1" />
  <Description Value="QQ互联，http://connect.qq.com" IsSystem="1" />
  <IsEnabled Value="0" IsSystem="1" />
  <AppKey Value="" IsSystem="0" Name="App Key" />
  <AppSecret Value="" IsSystem="0" Name="App Secret" />
</Login>